body
    font-size 14px

p
    margin 1em 0
h2
    display block
    margin 0.5em 0
    font-size 150%
    font-weight bold

em
    font-style italic

.ui-page
    .content
        display block
        margin 0 auto
        padding 1em 2em
        max-width 640px

.ui-header
    .ui-title
        margin-left 5%
        margin-right 5%


footer
    color #999
    display block
    margin 2em 0 0
    text-align center


#page-home
    line-height 1.4em
    h2
        text-align center


#page-tester
    .intro
        margin-top 0

    #sentence
        font-size 150%
        font-weight bold
        margin 1em 0 0.5em
        text-align center

    form
        display block
        margin 2em 0 0
        padding 0

        #zhongwen_label
            display block
            float left

        #help
            display block
            float right
            .ui-mini
                margin 0 0 0.2em 0

        #nav
            display block
            float left
            margin-left 1em
            .ui-mini
                margin 0 0 0.2em 0

        #progress
            display inline-block
            height 24px
            margin-left 0.6em
            vertical-align top
            padding-left 30px

            &.good
                color #0a0
                background url('images/tick.png') no-repeat center left

            &.bad
                color #a00
                background url('images/cross.png') no-repeat center left

            &.hint
                color #00a
                background url('images/info.png') no-repeat center left
                em
                    padding-left 0.5em
                    font-style normal


        label
            display inline-block
            font-style italic

        input
            display block
            width 7em

        textarea
            clear both
            display block
            margin 0 0 1em 0
            letter-spacing 0.2em

        #suggestions
            font-size 120%
            background-color #fff
            table
                border-collapse collapse
                td
                    cursor pointer
                    padding 0.3em 0.4em
                    border 1px solid #666
                    &:hover
                        background-color #ccc

                    span.num
                        color #f00
                        padding-right 0.2em

                    span.char
                        font-size 120%
                        font-weight bold


@media only screen and (max-width: 320px)
    #page-tester
        .input
            width 260px
            height 180px


