.content
    padding 1em 2em


#page-sentences
    .input
        display block
        margin 2em 0 0
        padding 0
        max-width 400px

        .instructions
            display block
            float left

        .ui-btn
            display block
            margin 0 0 5px
            float right

        div.canvas
            width 400px
            height 300px
            canvas
                display block
                clear both
                border 1px solid #000
                cursor pointer


