body
    font-size: 13px


.content
    padding 1em 2em

.ui-header
    .ui-title
        margin-left 5%
        margin-right 5%


#page-sentences
    .input
        display block
        margin 2em 0 0
        padding 0
        max-width 400px

        .instructions
            display block
            padding 7px 0 0
            float left

        .ui-btn
            display block
            margin 0 0 5px
            float right

        canvas
            display block
            clear both
            border 1px solid #000
            cursor pointer

        .suggestions
            font-size 120%
            background-color #fff
            font-weight bold
            table
                border-collapse collapse
                td
                    cursor pointer
                    padding 5px
                    border 1px solid #666
                    &:hover
                        background-color #ccc



@media only screen and (max-width: 320px)
    #page-sentences
        .input
            width 260px
            height 180px


